@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
*{
    margin: 0;
    padding: 0;
}

a:focus{
    outline: none !important;
}

body{
font-family: 'Open Sans', sans-serif;
}


#slider_section {
}

#slider {
}

#nav-dots {
}

#aboutus-section {
}

#promotional-section {
}

#carousel-example-generic {
}

#specilizer-section {
}

#development {
}

#visualdesign {
}

#internetmarketing {
}

#whitespace-section {
}

#grid {
}
  
#counter-section {
}

#getTouch-section {
}

#footer-section {
}


header{
    position: relative;

}
header .container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.slider_area{
 position: relative;
  width: 100%;
   height: 100%;
    
}
.slider_area:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(21, 29, 38,.7);
   width: 100%;
   height: 100%;
   opacity: .5;
   z-index: 1;

}
.slider_area img{
    width: 100%;
}

.slider_area .slide a.carousel-control{
    background-color: rgba(109, 100, 87,0.7);
    background-image: none;
    color: rgba(255, 255, 255 ,0.9);
    font-size: 50px;
    height: 75px;
    line-height: 60px;
    top: 50%;
    width: 35px;
    z-index: 999;
    opacity: .3;
    margin: 0px 170px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

.logo {
    margin-top: 45px;
}
.logo a{
}

.logo a img{
}

.menu_area{
   }
.menu_area ul{

}
.menu_area ul li{


}
.menu_area ul li a{
    color: #FFFFFF;
    margin-top: 50px;
    margin: 0.2;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition: all .5s;

}
.menu_area ul li:hover a{
color: #B3FFF1;
background: #F52541;
}
.menu_area ul li.active a{
background: #F52541;
}

div:not(.menu_area .slider_area), section,header,footer{
    overflow: hidden;
}


#carousel-example-generic {
}

.carousel-indicators {
}

.active {
}

.carousel-inner {
}

.item.active {
}

.carousel-caption {
   padding:200px 0px;
}

.carousel-caption h1 {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;

   
}

.carousel-caption p {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.uniq-slide{
    color: #0B0916;
}


.promotional-area{
    padding: 80px 0px;
    background: url(img/parallox.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
     width: 100%;
     height: 100%;
     position: relative;

}

.promotional-area:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(21, 29, 38,.7);
   width: 100%;
   height: 100%;
   opacity: .5;
}



.down-angle {
    bottom: 85px;
    left: 48.5%;
    font-size: 60px;
    text-align: center;
    position: absolute;
    z-index: 2;
    color: #fff;
}
.down-angle i{
     color: #fff;
}









.navbar-toggle.collapsed {
 color: #000;
}

.icon-bar {
     color: #000;
}

.menu_area.navbar-collapse.collapse.pull-right {
}

.nav.navbar-nav {
}

.container.demo-2 {
}

.sl-slider {
}

.sl-slide {
}

.sl-slide-inner {
}



.nav-dot-current {
}

.aboutus-area{

background-color: #8EFFFF;
height: 100%;
width: 100%;
}
.about-content {
 margin-bottom: 100px;
}
.about-content h1 {
 
 padding: 80px 0px;
 font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

}
.about-content h1 .future {
    color: #EEC602;

}
.about-content p{
 font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
   margin-bottom: 15px;
}



.feature-area {

text-align: center;
}

.single-feature {
    z-index: 5;
}
.single-feature img{
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 30px 35px;
    display: inline-block;
    transition: all 0.4s;
}
.single-feature img:hover{
   background-color: #F52541;
   border: 2px solid #F52541;
   border-radius: 50%;
   padding: 30px 35px;
}
.single-feature h4{
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
   padding: 35px 0px;
    color: #fff;

}

.single-feature p{
     font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 90px;
    color: #fff;
}

.testimonial-area {
}

.testimonial-slider {
   position: relative;
}
.testi-divider{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 2px 5px;
    display: inline-block;
}
.testi-divider:before{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 47%;
    height: 2px;
    background-color: #fff;
    
}
.testi-divider:after{
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 47%;
    height: 2px;
    background-color: #fff;
    
}
.testi-divider i{
color: #F52541;
}

.user-icon img{
    padding: 50px 0px;
}

.sigle-testi{
}
.sigle-testi p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 80px;
    color: #fff;
    margin-top: 10px;

}
.sigle-testi .testi-author h4{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
    

}

.sigle-testi .testi-author p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #fff;
    padding-bottom: 45px;

}

.testimonial-slider .slide ol li{
 border-color: #F52541;
}

.testimonial-slider .slide ol li.active {
    background-color: #F52541;
}


.specilizer-area{
  padding-top: 50px;
  padding-bottom: 78px;

}

.works-tab h1{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #000;
    padding-bottom: 30px;
     text-transform: uppercase;
}

.specilizer-area ul li a{
  padding: 20px 70px;
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #868585;
  position: relative;

}
.single-works{
  padding: 0px 30px;
    display: inline-block;

}
.single-works i{
   border: 1px solid #EEEEEE;
    border-radius: 100%;
    padding: 30px 30px;
    display: inline-block;
    transition: all 0.3s;
    background: #EEEEEE;
    color: #DD374D;
    font-size: 45px;
}
.single-works i:hover{
   border: 1px solid #EEEEEE;
    border-radius: 100%;
    padding: 30px 30px;
    display: inline-block;
    transition: all 0.3s;
    background: #DD374D;
    color: #EEEEEE;
    font-size: 45px;
}

.single-works h4{
   
    padding-top: 25px;
    text-align: center;
    color: #979797;

  
}
.progress-section{
  padding: 0px 30px;
}
.progress-bars h1{
  font-size: 30px;
  color: #2F2F2F;
  text-transform: uppercase;
  
}
.progress-bars p{
  font-size: 14px;
  color: #A4A3A3;
  padding: 30px 0px;
}
.single-progrssbar{
  font-size: 14px;
  color: #8E8E8E;
  padding: 15px 0px;

}

.progrss-title{
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}
.progrss-title>span:first-child{
float: left;
}
.progrss-title>span:last-child{
  float: right;
}

.single-progrssbar .progress{
  border-radius: 0px;
  height: 5px;

}


.single-tab p{
  padding:30px 0px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #868585;

 
}


.progress-bar.progress-bar-danger {
    width: 80%
}


.whitespace-area{

  padding: 90px 0px;
  background-color: #F4F4F4;
}

.white-space h1{
  
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #434343;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.space-divider{
    border: 1px solid rgba(172, 172, 172,0.7);
    border-radius: 50%;
    padding: 3px 5px;
    display: inline-block;
    margin-left: 268px;
}
.space-divider i{
    color: #DD374D;
}
.space-divider:before{
    content: "";
    position: absolute;
    left: -195px;
    top: 95px;
    width: 80%;
    height: 2px;
    background-color: rgba(172, 172, 172,0.7);
    
}
.space-divider:after{
    content: "";
    position: absolute;
    right: -195px;
    top: 95px;
    width: 80%;
    height: 2px;
    background-color: rgba(172, 172, 172,0.7);
    
}
.white-space p{
  
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #434343;
  text-align: center;
  padding-top: 25px;
 
}



.portfolio {

  padding: 50px 0px;
}


.portfolio ul{
  list-style: none;
padding-bottom: 45px;
  position: relative;
 }

.portfolio ul li a{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #363636;
  text-decoration: none;
 
}

.portfolio ul li a:hover{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #DD374D;
  text-decoration: none;
 
}


.portfolio-sorting.list-inline.text-center {
}

.portfolio ul li.dot {
font-size: 35px;
font-style: bold;

}



.portfolio-item {
    
margin-bottom: 7px;


}

.row {
  margin-left: -5px;
  margin-right: -5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}



.counter-area{
  padding: 115px 0px;
  background-color:#fff;
}
.counter-area .single-counter img{
   display: block;
    margin: 0 auto;
}
.counter-area .single-counter h5{
 font-size: 16px;
  font-family: 'Open Sans', sans-serif;
   font-style: italic;
  color: #DD374D;
text-align: center;
padding-top: 24px;
padding-bottom: 15px;

}
.counter-area .single-counter span{
   font-size: 60px;
   font-family: 'Open Sans', sans-serif;
   font-style: bold;
   color: #8A8A8A;
   text-align: center;
   display: block;
   font-weight: 400;

}


.getTouch-area{
padding-top: 90px;
padding-bottom:70px;
background-color: #DD374D;

}
.single-counter {
}


.fa.fa-map-marker {
}


.getTouch-area.googleMap-content{

}
.googleMap-content h1{
  font-size: 40px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   color: #FFFFFF;
   text-align: center;
   padding-bottom: 20px;
   text-transform: uppercase;
  
}

.getTouch-area .googleMap-content p{
  font-size: 15px;
   font-family: 'Open Sans', sans-serif;

   color: #FFFFFF;
   text-align: center;
}

.getTouch-area .googleMap-content i{

   color: #FFFFFF;
   text-align: center;
}



.googleMap-content .s-divider{
    border: 1px solid rgba( 255, 255, 255 ,0.7);
    border-radius: 50%;
    padding: 3px 5px;
    display: inline-block;
    margin-left: 555px;
     
}
.googleMap-content .s-divider i{
    color:#fff;
  
}
.googleMap-content .s-divider:before{
    content: "";
    position: absolute;
    left: -50px;
    top: 110px;
    width: 52%;
    height: 1px;
    background-color: rgba( 255, 255, 255 ,0.7);
    
}
.googleMap-content .s-divider:after{
    content: "";
    position: absolute;
    right: -50px;
    top: 110px;
    width: 52%;
    height: 1px;
    background-color: rgba( 255, 255, 255 ,0.7);
    
}
.googleMap-content p{
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;

   color: #FFFFFF;

}


.location{
  border: 5px solid rgba( 241, 239, 233 ,0.999);
    border-radius: 50%;
    padding: 25px 35px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 525px;
    position: absolute;
    background-color: #DD374D;
}

.location i{

 font-size: 40px;
}



.dot{
    font-size: 16px;
    display: inline-block;
    text-align: bottom;
    color: #808080;
}

/*for social icon */
    
.circle{
    border-radius: 50%;
    margin: 0.15em;
    font-size: 3em;
    }
    
.fa-twitter{
    background: #272822;
    color: #FFFFFF;
  padding: 0.05em 0.07em;
    }

.fa-google-plus{
  color: #FFFFFF;
  background: #272822;
  padding: 0.1em 0.1em;
  }  

.fa-dribbble{
    color: #FFFFFF;
    }

.fa-pinterest{
    color: #FFFFFF;
    }

.fa-facebook{
    background: #272822;
    color: #FFFFFF;
  padding: 0.35em 0.35em;
    }

.fa-youtube{
    background: #272822;
    color: #FFFFFF;
  padding: 0.25em 0.25em;
  
    }



.fa-twitter:hover{
  
    color: #272822;
    transition: 0.4s;

    }

.fa-google-plus:hover{
  color: #272822;
   transition: 0.4s;


  }  


.fa-pinterest:hover{
    color: #272822;
     transition: 0.4s;
    }

.fa-facebook:hover{

    color: #272822;
     transition: 0.4s;
    }

.fa-youtube:hover{
    
    color: #272822;
     transition: 0.4s;

    }


.fa-dribbble:hover{
    color: #272822;
     transition: 0.4s;
    }


.footer-area{
  padding: 45px 0px;
  background-color: #272822;
}


.footer-area .social-icon{
  text-align: center;
  padding: 25px;


}
.social-icon i{
  margin-left: 20px;
  border: 1px solid rgba( 241, 239, 233 ,0.999);
    border-radius: 50%;
    padding: 5px 10px;
    display:block;
display: inline-block;
}

.social-icon i:hover{
  margin-left: 20px;
  border: 1px solid rgba( 241, 239, 233 ,0.999);
  background-color:rgba( 241, 239, 233 ,0.999);
    border-radius: 50%;
    padding: 5px 10px;
    display:block;
display: inline-block;
}

.copy-right{
  color: #FFFFFF;
}
.copy-right p{
 font-size: 15px;
   font-family: 'Open Sans', sans-serif;

   color: #FFFFFF;
   text-align: center;

}


.copy-right a{
   font-size: 15px;
   font-family: 'Open Sans', sans-serif;

   color: #DD374D;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 450;
}




/* for slider */


.sl-slider-wrapper {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sl-slider {
    position: absolute;
    top: 0;
    left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} 

.sl-slide {
    z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
    overflow: hidden;
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
    width: 100%;
    height: 50%;
    left: -200px;
    -webkit-transform: translateY(0%) scale(1);
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
    top: -200px;
    padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
    top: 50%;
    padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
    width: 50%;
    height: 100%;
    top: -200px;
    -webkit-transform: translateX(0%) scale(1);
    -moz-transform: translateX(0%) scale(1);
    -o-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
    left: -200px;
    padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
    left: 50%;
    padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
    position: absolute;
}

.sl-content {
    width: 100%;
    height: 100%;
    background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
    background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
    background: #ccc;
}





.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 15px 24px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  font-weight: normal;
  margin: -35px 0 0 0;
  padding: 95px 100px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 15px #fff;
}